/* 
 	-------DARK MODE PALETTE------

	Name:					Color:

	Song Menu Grid			#141414;
	Top/Bottom Bar			#181818;

	Song Button				#414141;
	Song Button Offset		#414141;

	Control Button			#414141;
	Control Button Offset	#414141;
	Control Button Outline	#414141;
	
	Album Cover				#ECECEC;
	Album Cover Offset		#DDDDDD;

	Primary Text			#ECECEC;
	Secondary Text			#DDDDDD;

*/

.root {
	/* JUNGLE GREEN PALETTE */
	-fx-outline: #090909;
	
	-fx-song-menu: #141414;
	-fx-menu: #181818;

	-fx-button: #282828;
	
	-fx-accent: #305757;
	-fx-accent-offset: #275747;
	
	-fx-text: #ECECEC;
	-fx-text-secondary: #DDDDDD;

	-fx-album-cover: #314d4d;
	-fx-album-cover-offset: #2f594c;
	
	-fx-slider-track: #6a8a7f;
	

  	-fx-infinite-value: 100000000000;
  	
  	/* Default Font */
  	-fx-font-family: monospace;
}


/* BASIC STYLING */

#TopBar{
	-fx-background-color: -fx-menu;
	-fx-padding: 5px;
	
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
}

#SongMenu{
	-fx-background-color: -fx-song-menu;
	-fx-vgap: 5px;
	-fx-padding: 5 5 0 5;
}


#BottomBar{
	-fx-background-color: -fx-menu;
}


/* TEXT CSS */

.label{
	-fx-text-fill: -fx-text;
	-fx-text-alignment: left;
	-fx-font-weight: bolder;
	-fx-font-size: 20px;
	
	-fx-pref-height: 32px;
}

#SongDescription{
	-fx-border-color: red;
	-fx-border-width: 2;
	
	-fx-alignment: center;
	-fx-text-fill: -fx-text;
	-fx-text-alignment: left;
	-fx-font-weight: bolder;
	-fx-font-size: 20px;
}

#durationText{
	-fx-text-fill: -fx-text;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bolder;
	-fx-font-size: 22px;
	
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
}

/* PROGRESS BAR STYLING */

.progress-bar{
	-fx-background-color: -fx-button;
	-fx-background-radius: 4;
	-fx-background-insets: 0, 1, 2, 1;
	-fx-border-color: -fx-outline;
	-fx-border-style: solid;
	-fx-border-width: 3;
	-fx-border-radius: 3;
	-fx-pref-width: -fx-infinite-value;
}

.progress-bar .bar {
	-fx-background-color: -fx-accent;
	-fx-background-radius: 3;
	-fx-background-insets: 0, 1, 2, 1;
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.2, 0.0, 0.0);
    -fx-padding: 8, 0, 8, 0;
}

/* SCROLL BAR STYLING */
.scroll-pane{
	-fx-background-color: -fx-song-menu;
}

/* ALBUM COVER STYLING */

#albumCover{
	-fx-effect: dropshadow(gaussian, -fx-accent, 8, 0.3, 0.0, 0.0);
}

#albumCoverDefaultLabel{
	-fx-text-fill: -fx-text;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bolder;
	-fx-font-size: 120px;
}

#albumStackDefault{
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.3, 0.0, 0.0);
	-fx-background-insets: 5, 0, 5, 5;
	-fx-background-radius: 4;
	-fx-alignment: center;
	-fx-background-color: radial-gradient(center 50% 50%, radius 83%, -fx-album-cover-offset, -fx-album-cover);
}


/* BUTTON STYLING */

#SongButtonLabel{
	-fx-background-color: -fx-button;
	-fx-background-radius: 3;
	-fx-effect: dropshadow(gaussian, -fx-button, 5, 0.2, 0.0, 0.0);
	-fx-padding: 0 5 0 5;

	-fx-pref-height: 32px;
}

#SongButton:hover #SongButtonLabel{
	-fx-background-color: -fx-accent;
	-fx-effect: dropshadow(gaussian, -fx-accent, 8, 0.3, 0.0, 0.0);
	-fx-text-fill: -fx-text-offset;
}

#addSongButton{
	-fx-text-fill: -fx-text;
	-fx-alignment: center;
	-fx-font-weight: bolder;
	-fx-font-size: 20px;
	
	-fx-background-color: -fx-accent;
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.2, 0.0, 0.0);
	-fx-background-radius: 4;
}

#addSongButton:hover{
	-fx-background-color: -fx-accent-offset;
	-fx-effect: dropshadow(gaussian, -fx-accent, 8, 0.3, 0.0, 0.0);
}

#backButton{
	-fx-background-color: -fx-accent;
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.2, 0.0, 0.0);
	-fx-min-width: 52px;
	-fx-min-height: 52px;
	-fx-shape: "M 80 80 L 80 20 L 20 50 L 80 80 m -30 -30 L 80 35 L 80 65 Z";
}

#backButton:hover{
	-fx-background-color: -fx-accent-offset;
	-fx-effect: dropshadow(gaussian, -fx-accent-offset, 8, 0.3, 0.0, 0.0);
	-fx-scale-y: 1.35;
    -fx-scale-x: 1.35;
    
    -fx-opacity: 75%;
}

#playButton{
	-fx-background-color: -fx-accent;
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.2, 0.0, 0.0);
	-fx-min-width: 52px;
	-fx-min-height: 52px;
}

#playButton:hover{
	-fx-background-color: -fx-accent-offset;
	-fx-effect: dropshadow(gaussian, -fx-accent-offset, 8, 0.3, 0.0, 0.0);
	-fx-scale-y: 1.35;
    -fx-scale-x: 1.35;
    
    -fx-opacity: 75%;
}

#nextButton{
	-fx-background-color: -fx-accent;
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.2, 0.0, 0.0);
	-fx-min-width: 52px;
	-fx-min-height: 52px;
	-fx-shape: "M 20 20 L 20 80 L 80 50 L 20 20 m 30 30 L 20 65 L 20 35 Z";
}

#nextButton:hover{
	-fx-background-color: -fx-accent-offset;
	-fx-effect: dropshadow(gaussian, -fx-accent-offset, 8, 0.3, 0.0, 0.0);
	-fx-scale-y: 1.35;
    -fx-scale-x: 1.35;
    
    -fx-opacity: 75%;
}

#volumeSlider .track {
    -fx-background-color: -fx-slider-track;
 /* -fx-background-insets: 0 0 -1 0, 0, 1; */
    -fx-background-radius: 3, 3, 2;
    -fx-padding: 5;
}

#volumeSlider .thumb {
     -fx-background-color: -fx-accent-offset;
     -fx-effect: dropshadow(gaussian, -fx-accent-offset, 4, 0.2, 0.0, 0.0);
     -fx-background-radius: 12;
     -fx-pref-height: 22;
     -fx-pref-width: 22;
     -fx-border-color: -fx-outline;
     -fx-border-radius: 10;
     -fx-border-width: 3;
}


