/* 
 	-------DARK MODE PALETTE------

	Name:					Color:

	-fx-outline: 			#090909;
	
	-fx-song-menu: 			#141414;
	-fx-menu: 				#181818;

	-fx-button: 			#282828;
	
	-fx-accent: 			#275747;
	-fx-accent-offset: 		#276447;
	
	-fx-text: 				#ECECEC;
	-fx-text-secondary: 	#DDDDDD;

	-fx-slider-track: 		derive(-fx-accent, 75%);

*/

.root {
	/* JUNGLE GREEN PALETTE */
	-fx-outline: #090909;
	
	-fx-song-menu: #141414;
	-fx-menu: #181818;

	-fx-button: #282828;
	
	-fx-accent: #275747;
	-fx-accent-offset: #276447;
	
	-fx-text: #ECECEC;
	-fx-text-secondary: #DDDDDD;
	
	-fx-slider-track: derive(-fx-accent, 75%);

  	/* Default Values */
  	-fx-font-family: monospace;
  	-fx-infinite-value: 100000000000.0;
}


/* BASIC STYLING */

#TopBar{
	-fx-background-color: -fx-menu;
	-fx-padding: 5px;
	
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
}

#SongMenu{
	-fx-background-color: -fx-song-menu;
	-fx-vgap: 5px;
	-fx-padding: 5 5 0 5;
}


#BottomBar{
	-fx-background-color: -fx-menu;
}


/* TEXT CSS */

.label{
	-fx-text-fill: -fx-text;
	-fx-text-alignment: left;
	-fx-font-weight: bolder;
	-fx-font-size: 20px;
	
	-fx-pref-height: 32px;
}

#titleLabel{
	-fx-text-fill: -fx-text;
	-fx-text-alignment: left;
	-fx-font-weight: bolder;
	-fx-font-size: 26px;
	
	-fx-pref-height: 32px;
}

#artistLabel{
	-fx-text-fill: -fx-text;
	-fx-text-alignment: left;
	-fx-font-weight: bolder;
	-fx-font-size: 26px;
	
	-fx-pref-height: 32px;
}

#SongDescription{
	-fx-border-color: red;
	-fx-border-width: 2;
	
	-fx-alignment: center;
	-fx-text-fill: -fx-text;
	-fx-text-alignment: left;
	-fx-font-weight: bolder;
	-fx-font-size: 20px;
}

#durationText{
	-fx-text-fill: -fx-text;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bolder;
	-fx-font-size: 22px;
	
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
}

/* PROGRESS BAR STYLING */

.progress-bar{
	-fx-background-color: -fx-button;
	-fx-background-radius: 4;
	-fx-background-insets: 0, 1, 2, 1;
	-fx-border-color: -fx-outline;
	-fx-border-style: solid;
	-fx-border-width: 3;
	-fx-border-radius: 3;
	-fx-pref-width: -fx-infinite-value;
}

.progress-bar .bar {
	-fx-background-color: -fx-accent;
	-fx-background-radius: 3;
	-fx-background-insets: 0, 1, 2, 1;
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.2, 0.0, 0.0);
    -fx-padding: 8, 0, 8, 0;
}


/* SCROLL BAR STYLING */

#SongScrollPane{
	-fx-background-color: -fx-song-menu;
}

#SongScrollPane .scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
}

#SongScrollPane .scroll-bar:vertical .thumb{
	 -fx-background-color: -fx-accent;
     -fx-effect: dropshadow(gaussian, -fx-accent-offset, 4, 0.2, 0.0, 0.0);
     -fx-background-insets : 2, 0, 0;
     -fx-background-radius: 12;
}

#SongScrollPane .scroll-bar:vertical .thumb:hover {
    -fx-background-color : -fx-accent-offset;
    -fx-background-insets : 2, 0, 0;
    -fx-background-radius : 12;
}


/* ALBUM COVER STYLING */

#albumCover{
	-fx-effect: dropshadow(gaussian, -fx-accent, 8, 0.5, 0.0, 0.0);
}

#albumCoverDefaultLabel{
	-fx-text-fill: -fx-text;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bolder;
	-fx-font-size: 120px;
}

#albumStackDefault{
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.3, 0.0, 0.0);
	-fx-background-insets: 5, 0, 5, 5;
	-fx-background-radius: 4;
	-fx-alignment: center;
	-fx-background-color: radial-gradient(center 50% 50%, radius 83%, derive(-fx-accent-offset, -7%), derive(-fx-accent, 9%));
}


/* BUTTON STYLING */

#SongButtonLabel{
	-fx-background-color: -fx-button;
	-fx-background-radius: 3;
	-fx-effect: dropshadow(gaussian, -fx-button, 5, 0.2, 0.0, 0.0);
	-fx-padding: 0 5 0 5;

	-fx-pref-height: 32px;
}

#SongButtonLabelPlaying{
	-fx-background-color: -fx-accent-offset;
	-fx-background-radius: 3;
	-fx-effect: dropshadow(gaussian, -fx-accent-offset, 10, 0.5, 0.0, 0.0);
	-fx-padding: 0 5 0 5;

	-fx-pref-height: 32px;
}

#SongStack:hover #SongButtonLabel{
	-fx-background-color: -fx-accent;
	-fx-effect: dropshadow(gaussian, -fx-accent, 8, 0.3, 0.0, 0.0);
	-fx-text-fill: -fx-text-offset;
}

#addSongButton{
	-fx-text-fill: -fx-text;
	-fx-alignment: center;
	-fx-font-weight: bolder;
	-fx-font-size: 20px;
	
	-fx-background-color: -fx-accent;
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.2, 0.0, 0.0);
	-fx-background-radius: 4;
}

#addSongButton:hover{
	-fx-background-color: -fx-accent-offset;
	-fx-effect: dropshadow(gaussian, -fx-accent, 8, 0.3, 0.0, 0.0);
}

#ControlButton{
	-fx-background-color: -fx-accent;
	-fx-effect: dropshadow(gaussian, -fx-accent, 5, 0.2, 0.0, 0.0);
	-fx-min-width: 52px;
	-fx-min-height: 52px;
}

#ControlButton:hover{
	-fx-background-color: -fx-accent-offset;
	-fx-effect: dropshadow(gaussian, -fx-accent-offset, 8, 0.3, 0.0, 0.0);
	-fx-scale-y: 1.35;
    -fx-scale-x: 1.35;
    
    -fx-opacity: 75%;
}

#volumeSlider .track {
    -fx-background-color: linear-gradient(to right, -fx-accent 50%, -fx-slider-track 50%);
    -fx-background-radius: 3, 3, 2;
    -fx-padding: 5;
}

#volumeSlider .thumb {
     -fx-background-color: -fx-accent-offset;
     -fx-effect: dropshadow(gaussian, -fx-accent-offset, 4, 0.2, 0.0, 0.0);
     -fx-background-radius: 12;
     -fx-pref-height: 22;
     -fx-pref-width: 22;
     -fx-border-color: -fx-outline;
     -fx-border-radius: 10;
     -fx-border-width: 3;
}

#closeButton{
	-fx-background-color: derive(-fx-accent, 15%);
	-fx-effect: dropshadow(gaussian, derive(-fx-accent, 15%), 5, 0.2, 0.0, 0.0);
	-fx-shape: "M 5 0 L 20 15 L 35 0 L 40 5 L 25 20 L 40 35 L 35 40 L 20 25 L 5 40 L 0 35 L 15 20 L 0 5 Z";
}

#closeButton:hover{
	-fx-background-color: derive(-fx-accent-offset, 15%);
	-fx-effect: dropshadow(gaussian, derive(-fx-accent-offset, 15%), 8, 0.3, 0.0, 0.0);
	-fx-scale-y: 1.35;
    -fx-scale-x: 1.35;
    
    -fx-opacity: 75%;
}

#maxButton{
	-fx-background-color: derive(-fx-accent, 10%);
	-fx-effect: dropshadow(gaussian, derive(-fx-accent, 10%), 5, 0.2, 0.0, 0.0);
	-fx-shape: "M 0 0 L 0 40 L 40 40 L 40 0 m -5 5 L 35 35 L 5 35 L 5 5 Z";
}

#maxButton:hover{
	-fx-background-color: derive(-fx-accent-offset, 15%);
	-fx-effect: dropshadow(gaussian, derive(-fx-accent-offset, 15%), 8, 0.3, 0.0, 0.0);
	-fx-scale-y: 1.35;
    -fx-scale-x: 1.35;
    
    -fx-opacity: 75%;
}

#minButton{
	-fx-background-color: derive(-fx-accent, 15%);
	-fx-effect: dropshadow(gaussian, derive(-fx-accent, 15%), 5, 0.2, 0.0, 0.0);
	-fx-shape: "M 0 18 L 40 18 L 40 22 L 0 22 Z";
	-fx-scale-y: 0.3;
}

#minButton:hover{
	-fx-background-color: derive(-fx-accent-offset, 15%);
	-fx-effect: dropshadow(gaussian, derive(-fx-accent-offset, 15%), 8, 0.3, 0.0, 0.0);
	-fx-scale-y: 0.65;
    -fx-scale-x: 1.35;
    
    -fx-opacity: 75%;
}

#resizeButton{
	-fx-background-color: -fx-accent;
	-fx-shape: "M 0 30 L 30 0 L 30 30 Z";
	-fx-scale-y: 0.5;
	-fx-translate-y: 5;
}

#resizeButton:hover{
	-fx-background-color: -fx-accent-offset;
	-fx-effect: dropshadow(gaussian, -fx-accent-offset, 8, 0.3, 0.0, 0.0);
    
    -fx-opacity: 75%;
}

#SettingsButton{
	-fx-background-color: derive(-fx-accent, 15%);
	-fx-effect: dropshadow(gaussian, derive(-fx-accent, 15%), 5, 0.2, 0.0, 0.0);
	-fx-shape: "M 12 19 L 9 18 L 9 15 L 12 14 L 13 11 L 12 9 L 14 7 L 16 8 L 19 7 L 20 4 L 23 4 L 24 7 L 27 8 L 29 7 L 31 9 L 30 11 L 31 14 
				L 34 15 L 34 18 L 31 19 L 30 22 L 31 24 L 29 26 L 27 25 L 24 26 L 23 29 L 20 29 L 19 26 L 16 25 L 14 26 L 12 24 L 13 22 Z 
				M 15 19 L 16 21 L 17 22 L 19 23 L 24 23 L 26 22 L 27 21 L 28 19 L 28 14 L 27 12 L 26 11 L 24 10 L 19 10 L 17 11 L 16 12 L 15 14 Z";
}

#SettingsButton:hover{
	-fx-background-color: derive(-fx-accent-offset, 15%);
	-fx-effect: dropshadow(gaussian, derive(-fx-accent-offset, 15%), 8, 0.3, 0.0, 0.0);
	-fx-scale-y: 1.35;
    -fx-scale-x: 1.35;
    
    -fx-opacity: 75%;
}

